.text {
    color: #dbb963 !important;
    background-color: transparent !important;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

span.text {
    color: white !important;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    background: rgba(56, 59, 58, 0.5) !important;
    border: 0.5px solid #929292 !important;
    backdrop-filter: blur(20px) !important;
}

@media screen and (max-width: 768px) {
    .time {
        font-size: 10px;
    }
  }