.accordion-container {
	background: "#7878781e";
	border: "20px solid #92929 !important";
	border-color: "red";
	padding: "10px 10px 10px 10px";
}

.accordion-content {
	background: "#4b4b4b3f";
	border: "#7878781e";
	padding: "10px";
}


