.binary-progress {
  transform: rotate(180deg);
box-shadow: inset 0px 1px 1px rgba(0.85, 0, 0, 0);
  
}

.progress{
      background: #2E3346 !important;
box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.85);
border-radius: 2px;
height: 7px;

}


.right-text{
    padding-top: 10px;
    text-align: right;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12.7595px;
line-height: 19px;
/* identical to box height */


color: #CDCDCD;

text-shadow: 0px 3.18987px 2.12658px rgba(0, 0, 0, 0.8);
    
}

.left-text{
    padding-top: 10px;
    text-align: left;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12.7595px;
line-height: 19px;
/* identical to box height */


color: #CDCDCD;

text-shadow: 0px 3.18987px 2.12658px rgba(0, 0, 0, 0.8);
}

.center-text{
    padding-top: 10px;
    text-align: center;    
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12.7595px;
line-height: 19px;
/* identical to box height */


color: #CDCDCD;

text-shadow: 0px 3.18987px 2.12658px rgba(0, 0, 0, 0.8);
}

.boxstats{

  width: 420px;
  height: 635px;
 background: linear-gradient(360deg, #272B3E 0%, #202430 100%);
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
padding-left: 10px;  
padding-right: 10px;
padding-bottom: 10px;
}

.progress-bar.bg-warning{
    background: #DC00FE !important;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.85);
border-radius: 2px;
    
}

.progress-bar.bg-danger{
    background: #006AF9 !important;
box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.85);
border-radius: 2px;
}

.matchupss{
  background: linear-gradient(180deg, #24283A 0%, #394062 100%);
box-shadow: 0px 2.12658px 1.06329px rgba(0, 0, 0, 0.23);
border-radius: 4.25316px 4.25316px 0px 0px;
    width: 420px;
height: 41.47px;
padding-bottom: 5px;
}

