.breadcrumb-box{
    clear: both;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 32px;
    height: 32px;
    margin-top: 1px;
}
.content-box{
    width: 1200px;
    margin: 0 auto;
}
div{
    display: block;
}
.breadcrumb-box .breadcrumb{
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    background-color: #4b4b4b;
    padding-top: 0px;
}
p, ul{
    list-style: none;
}
body, html, p, ul{
    margin: 0;
    padding: 0;
}
.breadcrumb-box .breadcrumb li .link{
    color: #dbb963;
}
a, button{
    outline: none;
}
a{
    text-decoration: none;
}
.breadcrumb-box .breadcrumb li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    font-size: 12px;
}
.breadcrumb-box .breadcrumb li .text{
    /*font-weight: 500;*/
    color: #bbb0a2;
}

.breadcrumb-box .breadcrumb li .link:after {
    transform: scale(.7);
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -o-transform: scale(.7);
    font-family: "fontawesome";
    margin: 1px 0 0 5px;
    position: absolute;
    content: "\f105";
    font-size: 12pt;
    color: white;
    left: 100%;
}

h1{
    display: block;
    margin-block-start:0.67em ;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
li{
    text-align: -webkit-match-parent;
    
}
.link{
    color: white;
}
h1{
    color: white;
}