.messgae-box {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    background: linear-gradient(159.56deg, #333740 0%, #1A1D24 84.71%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2.791px;
    border: 1px solid #dedede;
    background-color: #fafafa;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    height: 500px;
}
.msg-content {
    background: linear-gradient(159.56deg, #333740 0%, #1A1D24 84.71%);
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
border-radius: 2.791px;
    position: absolute;
    display: block;
    bottom: 80px;
    top: 44px;
    right: 0;
    left: 0;
    max-height: auto;
    word-wrap: break-word;
    overflow-y: auto;
    width: auto;
    overflow-x: inline-flex;
    color: #dbb93d;
}

.scrollbar {
    height: 100%;
}
.title {
    border-bottom: 1px solid #dedede;
     background: linear-gradient(159.56deg, #333740 0%, #1A1D24 84.71%);
    line-height: 44px;
    font-size: 14px;
    padding: 0 16px;
    display: block;
    color: #dbb93d;
}
.send-box{
    background: linear-gradient(159.56deg, #333740 0%, #1A1D24 84.71%);
    position: absolute;
    padding: 8px 16px;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
}

.text-box {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    background-color: transparent;
    -webkit-appearance: none;
    box-shadow: none;
    font-size: 13px;
    display: block;
    resize: none;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
   
}

.list {
    clear: both;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
}

.form-control{
     background: linear-gradient(159.56deg, #333740 0%, #1A1D24 84.71%);
      color: #dbb93d !important;

}

.btn-dark{
    color: #dbb93d im !important;
}