.boxing{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: #202430;
    margin-top: 12px;
}
div{
    display: block;
}
.boxing .titolo{
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #eee;
}
.font-en .fownt{
    font-weight: 500;
}
.fonty{
    font-size: 14px!important;
}
.bord-box{
    box-sizing: border-box;
}
.cools{
    color: #2196f3;
}
.boxing .contento{
    padding: 16px 0;
}
.line-boxs{
    background-color: #419f55;
    border-radius: 8px;
    margin: 0 16px;
    display: block;
}
.line-boxs .inform, .line-boxs .venew{
    justify-content: space-between;
    align-items: center;
    line-height: 34px;
    font-size: 12px;
    padding: 0 15px;
    display: flex;
    height: 34px;
    color: #fff;
}
.line-boxs .lineups-canvas{
    clear: both;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 498px;
}
.line-boxs .lineups-canvas :after, .line-boxs .lineups-canvas :before{
    content: "";
    display: table;
}
.flew{
   
    box-sizing: border-box;
    -o-object-fit: cover;
    object-fit: cover;
    height: 66px;
    width: 66px;
}
.cur-pointer{
    cursor: pointer;
}
.prank{
    margin-top: 530px;
}

