.main-footer{
    color: white;
    background-color: #343434;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 10pt;
    line-height: 1.5;
    text-align: justify;
}
  a:link {
    text-decoration: none;
    color: white;
  }
  
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    color: #dbb963!important;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }
  
  .img-icons{
      height: 24px;
      padding-left: 25px;
  }
  
  .miming{
    background-color: #343434; 
  }
  .linya{
    list-style: 100px;
  }

  