
.div-table {
    display: table;
    width: 97%;
    overflow: scroll;
    background-color: #eee;
    border-spacing: 2px;
    border-radius: 4px;
    text-align: center;
    margin-left:20px;
    margin-top: 10px;
    
}

.trow {
    display: table-row;
    
}
.tcolumn {
    display: table-cell;
    vertical-align: top;
    background-color: #333945;
    padding: 10px 8px;
    color: white;
}
.tcolumne {
    display: table-cell;
    vertical-align: top;
    background-color: #3B4251;
    padding: 10px 8px;
    color:white;
}
.tcolumns {
    display: table-cell;
    vertical-align: top;
    background-color:  #202430;
    padding: 10px 8px;
    color: white;
}
.tcolumnes {
    display: table-cell;
    vertical-align: top;
    background-color:  #333945;
    padding: 10px 8px;
    color:#49a52a;
}
.tcolumnee {
    display: table-cell;
    vertical-align: top;
    background-color:  #333945;
    padding: 10px 8px;
    color:#ffba5a;
}

.tcolumn1 {
    width: 197px;
    height: 47px;
}
.tcolumn2 {
    width: 99px;
    height: 47px;
}
.tcolumn3, .tcolumn5 {
    width: 260px;
    height: 47px;
}
.tcolumn4 {
    width: 69px;
    height: 47px;
}

.tcolumn6 {
    width: 90px;
    height: 47;
}
.box{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: rgba(75, 75, 75, 0.38);;
    margin-top: 12px;
    height: 395px;
}
.match{
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #eee;
}
.match-update{
    color: #2196f3;
}
.foot{
    border-bottom: 0;
    padding-left: 50px;
    margin-top: 10px;
}
.color-green{
    color: #52af2f!important;
}
.color-yellow{
    color: #feb82d;
}
.color-red{
    color: #e74c5b!important;
}
.match-select{
    padding-left: 900px;
    color: white;
}
.match-team, .foot{
    color:white;
}
.tcolumnees{
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    background: #49a52a;
    border-radius: 50%;
    color:  white;
}
.letter-D{
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    background: #feb82d;
    border-radius: 50%;
    color:  white;
}


