
.bg-text {
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffff;
    background: #6B6B6B;
    border: 0.5px solid #929292;
    vertical-align: middle;
    max-width: 100%;
}

.time{
    font-weight: 400;
    font-size: 12px;
    color: #ffff;
    width: 48px;
    }
.team{
        align-items: center;
    display: flex;
    height: 100%;
    min-width: 0;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    }
.home{
    text-align: right;
    
}

.away{
    text-align: left;
}

.text{
      vertical-align: middle;
}

ul.menu li a:before, ul.menu li .item:before, ul.menu li .separator:before {
  content: "\2022";
  font-family: FontAwesome;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 1.6em;
  font-weight: normal;
}

.main-footer{
  color: white;
  background-color: #343434;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;

}
.card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-sizing: border-box;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.br-50{
  border-radius: 50%;
}
.table{
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 12px;
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
}
.table .heads{
    background-color: #eef3f9;
    display: flex;
    height: 48px;
}
.table .heads .cols{
  align-items: center;
  display: flex;
  flex: 1;
}
.ml-xs{
  margin-left: 8px;
}
pointer{
  cursor: pointer;
}
.w-2{
  width: 24px;
}

.ps-15{
  font-size: 14px!important;
}
.color-333{
  color: #333!important;
}
a, button{
  outline: none;
}
a{
  text-decoration: none;
}
.ms-10{
  font-size: 12px!important;
}
.color-blue{
  color: #2196f3;
}
.coloring{
  color: #999;
}
.table .row .cols{
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex: 1;
}
.prap{
  padding-right: 15px;
}
.pl-15{
  padding-left: 15px;
}
.flakes{
  flex: 1;
}
.align-aper{
  align-items: center;
}
.sky{
  display: flex;
}
.table .shirtNumba{
    text-align: center;
    line-height: 15px;
    height: 15px;
    width: 15px;
}
.colored{
  color: #fff;
}
.lm-sx{
  margin-left: 8px;
}
.cur-pointer{
  cursor: pointer;
}
.table .player-logo{
    border: 1px solid #eee;
    box-sizing: border-box;
    -o-object-fit: cover;
    object-fit: cover;
    height: 36px;
    width: 36px;
}
.br-50{
  border-radius: 50%;
}

.momot{
  flex-direction: column;
}
.color-333{
  color: #fff!important;
}
.colors{
  color: #333!important;
}
div{
  display: block;
}

.flex{
  display: flex;
}
.hala{
  height: 16px;
}
.wot{
  width: 16px;
}
.color-blow{
  color: #2196f3;
}
element.style{
  background: #5CB400;
}
.table .row .cols .smack{
    border-radius: 3px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    margin-left: auto;
  }
svg:not(:root){
  overflow: hidden;
}
.color-man{
  color: #fff!important;
}
.text-centa{
  text-align: center;
}







