.links {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
    margin-right: 30px;
}

.links::before,
.links::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.links::before {
    content: '';
}
.links--elara {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-size: 16px;
}

.links--elara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.links--elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.links--elara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.links--elara:hover span {
    transform: translate3d(0, -2px, 0);
}