.infobox{
background: rgba(56, 59, 58, 0.5);
border: 0.5px solid #929292;
backdrop-filter: blur(20px);
color: #CDCDCD;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);
text-align: justify;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
border-radius: 20px;


}
