.table-odds{
    display: table;
    width: 97%;
    overflow: scroll;
    background-color:  white;
    border-spacing: 2px;
    border-radius: 1px;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
}
.bax{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: rgba(75, 75, 75, 0.38);;
    margin-top: 12px;
    height: 230px;
}
.ods{
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #eee;
}
.mos{
    padding: 0px 0px !important;
}
.odds-update{
    color: #2196f3;
}
.odds-row{
    display: table-row;
}
.ocolumns{
    display: table-cell;
    vertical-align: top;
    background-color:  #202430;
    padding: 10px 8px;
    color: white;
}
.ocolumn1{
    width: 41px;
    height: 47px;
}
.ocolumn2{
    width: 41px;
    height: 47px;
}
.ocolumn3{
    width: 69px;
    height: 47px;
    
}
.ocolumn4{
    width: 73px;
    height: 47px;
}
.ocolumn5{
    width: 69px;
    height: 47px;
}
.ocolumn6{
    width: 72px;
    height: 47px;
}
.ocolumn{
    display: table-cell;
    vertical-align: top;
    background-color: #333945;
    padding: 10px 8px;
    color: white;
}
.ocolumne{
    display: table-cell;
    vertical-align: top;
    background-color: #333945;
    padding: 10px 8px;
    color: #e74c5b!important;
}
.ocolumnes{
    display: table-cell;
    vertical-align: top;
    background-color: #333945;
    padding: 10px 8px;
    color: #52af2f!important;
}
.heads{
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 10px;
    color: black;
}
.between-tunga{
    justify-content: space-between!important;
    font-size: 14px!important;
    font-weight:inherit;
}
