.box{

position: inherit;
width: 415px;
height: auto;
left: 534px;
top: 745px;
background: #222633;
box-shadow: 2.22632px 2.22632px 2.22632px rgba(0, 0, 0, 0.51);
border-radius: 5px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 13.9332px;
line-height: 21px;
color: #CDCDCD;
text-shadow: 0px 2.62866px 2.62866px rgba(0, 0, 0, 0.8);
}

.fa{
  padding-top: 0px;
}

.matchupbox{
  position: inherit;
width: 375px;
height: 38.96px;
background: #1B1F29;
padding-top:5px;

}