.shortstatbox{
    width: 195px;
height: 100px;
background: #202430;
box-shadow: 2.12658px 2.12658px 2.12658px rgba(0, 0, 0, 0.51);
border-radius: 5px;
padding-left: 10px;

}
.shortstatbox .col{
  padding-left: 10opx;
}

.shortstattitle{
    
    background: linear-gradient(180deg, #24283A 0%, #394062 100%);
box-shadow: 0px 2.12658px 1.06329px rgba(0, 0, 0, 0.23);
border-radius: 4.25316px 4.25316px 0px 0px;
  color: #CDCDCD;

text-shadow: 0px 2.5109px 2.5109px rgba(0, 0, 0, 0.8);
font-family: Poppins;
font-style: normal;
text-align: center;
}

.shortstatcontent{
width: 49px;
height: 22px;
background: #77763a im !important;
padding-top: 20px;
color:white;

}

.short-stat-main-container {
	background: #202430;
	margin-top: -4px;
}

.with_divider {
	border-right: 1px solid #3c3d3d;
}

.with_underline {
	border-bottom: 1px solid #3c3d3d;
}