
.bg-text {
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffff;
  background: #000000 !important;
border: 0.5px solid #333232 !important;
  vertical-align: middle;
  max-width: 100%;
}

.time{
    font-weight: 400;
    font-size: 12px;
    color: #ffff;
    width: 48px;
    }
.team{
        align-items: center;
    display: flex;
    height: 100%;
    min-width: 0;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    }
.home{
    text-align: right;
    
}

.away{
    text-align: left;
}

.text{
      vertical-align: middle;
}

ul.menu li a:before, ul.menu li .item:before, ul.menu li .separator:before {
  content: "\2022";
  font-family: FontAwesome;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 1.6em;
  font-weight: normal;
}

.row{
  max-width: auto;

}

