.tab-bar{
    border-top: 1px solid #202430;
    background-color: #202430;
    font-size: 14px;
    color:#000;
}
div{
    display: block;
}
.content-box{
    width: 1200px;
    margin: 0 auto;
}
.tab-bar.justify-content .child{
    justify-content: center;
}
.tab-bar .child {
    align-items: center;
    display: flex;
    height: 40px;

}
.tab-bar .child .tab.active :after, .tab-bar .child .tab:hover{
    color: #333;
}
.tab-bar .child .tab{
    position: relative;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
}
.mr-20{
    margin-right: 20px;
}
a, button{
    outline: none;
}
a{
    text-decoration: none;
}
.tab-bar .child .tab :after{
    border-bottom: 4px solid #0f80da;
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    width: 0;
}
.tab-bar .child .tab.active:after, .tab-bar .child .tab:hover:after {
    width: 100%;
    left: 0;
}
.tab-bar .child .tab[data-v-a4431e04] {
    position: relative;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
    color: #999;
}
.ml-20 {
    margin-left: 20px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
}

