.standingbox{
    width: 410px;
height: 610.27px;
background: #1B1F29;
box-shadow: 2.12658px 2.12658px 2.12658px rgba(0, 0, 0, 0.51);
border-radius: 5.31646px;
}

.perteambox{
    width: 397px;
height: 24.46px;
margin-bottom: 5px;


background: #202430;
}

.standingtitle{

width: 410px;
height: 26px;
background: linear-gradient(180deg, #24283A 0%, #394062 100%);
box-shadow: 0px 2.12658px 1.06329px rgba(0, 0, 0, 0.23);
border-radius: 4.25316px 4.25316px 0px 0px;
text-align: center;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height */
color: #CDCDCD;
text-shadow: 0px 2.5109px 2.5109px rgba(0, 0, 0, 0.8);
padding-top: 3px;
}


.detailstext{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 13px;
/* identical to box height */
color: #CDCDCD;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
}