


.right-text{
    padding-top: 10px;
    text-align: right;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12.7595px;
line-height: 19px;
/* identical to box height */


color: #CDCDCD;

text-shadow: 0px 3.18987px 2.12658px rgba(0, 0, 0, 0.8);
    
}

.text-label-left{
    padding-left: 20px;
}
.text-label-right{
    padding-right: 20px;
}
.left-text{
    padding-top: 10px;
    
    text-align: left;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12.7595px;
line-height: 19px;
/* identical to box height */


color: #CDCDCD;

text-shadow: 0px 3.18987px 2.12658px rgba(0, 0, 0, 0.8);
}

.center-text{
    padding-top: 10px;
    text-align: center;    
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12.7595px;
line-height: 19px;
/* identical to box height */


color: #CDCDCD;

text-shadow: 0px 3.18987px 2.12658px rgba(0, 0, 0, 0.8);
}

.matchup{
    background: linear-gradient(180deg, #24283A 0%, #394062 100%);
    box-shadow: 0px 2.12658px 1.06329px rgba(0, 0, 0, 0.23);
    border-radius: 4.25316px 4.25316px 0px 0px;
    width: 870px;
height: 41.47px;
left: 15%;
top: 14%;
}

 .videobox{
position: inherit;
width:640px;
height: 650px;
left: 15%;
top: 14%;
background-color: ivory;

box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
border-radius: 5px;
} 

.videocss{
    padding-top: 4px;   
}