.app-button  {
    position: inline-block;
    width: 125px;
    height: 45px;
    left: 235px;
    top: 391px;
    color: #F7EB9F;
    background: #575757;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 7.56637px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22.6991px;
    line-height: 27px;
    /* identical to box height */


text-shadow: 1.97804px 1.97804px 1.97804px rgba(0, 0, 0, 0.44);
}

.app-button:hover {
    background: #dbb963;
}

.pwStrRow {
    width: 63%;
    text-align: left;
    margin: auto;
    padding: 0;
    font-size: 12px;
  }
  
  .pwStrWeak {
    display: inline-block;
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    color: gray;
  }
  
  .pwStrStrong {
    display: inline-block;
    position: relative;
    left: 77%;
    padding: 0;
    margin: 0;
    color: gray;
  }

 @media screen and (max-width: 960px){
    .app-button{
        position: inline-block;
    width: 125px;
    height: 45px;
    left: 135px;
    top: 391px;
    color: #F7EB9F;
    background: #575757;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 7.56637px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22.6991px;
    line-height: 27px;
    /* identical to box height */


text-shadow: 1.97804px 1.97804px 1.97804px rgba(0, 0, 0, 0.44);
    }
    
}