.FieldProperties{

    position: inline-block;
    width: 490px;
    height: 41px;
    left: 466px;
    top: 248px;
    
    background: #929292;
    border-radius: 5px;
}

.label {
    text-align: center;
    padding-left: px;
    color: #dbb963;
}
.form-control1{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fa-user-circle{
    margin: auto;
    color: #dbb963;
    margin-top: 50px;
    margin-bottom: 20px;
}
.button {
    text-align: center;
    color: #dbb963;
}
.help-block{
    color: red;
}
.login-user{
    margin: auto;
    color: #dbb963;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.register-user{
    margin: auto;
    color: #dbb963;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mimi , .fa-user-plus-1{
    
    color: #dbb963;
    margin-top: 0px;
    margin-bottom: 0px;
}
.label1 {
    text-align: center;
    padding-left: 0px;
    color: #dbb963;
}
.form-control2{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button1 {
    text-align: center;
    color: #dbb963;
}

@media screen and (max-width: 960px){
    .centered1{
        max-width: 100%;
    }
    
}

.iphone5{
    display: none;
}


@media screen and (max-width: 414px){
    .centered1{
        width: 90%;
        height: auto;
    }

    .login-user{
        font-size: 3em;
    }
    
    .desktop{
        display: none;
    }

    .iphone5{
        display: block;
        display: initial
    }

    .form-control1{
        height: 30px;
    }
    
    .label{
        font-size: 20px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 32px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .fa {
        font-size: 3em;
    }

    .form-group{
        padding-top: 10px !important;
    }
    
}

@media screen and (max-width: 414px){
    .centered2{
        width: 90%;
        height: 81%;
    }

    .desktop{
        display: none;
    }

    .form-control2{
        height: 30px;
    }
    
    .label1{
        font-size: 10px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 32px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .register-user{
        font-size: 1.50em !important;
    }
    
    .mimi {
        font-size: 1.50em !important;
    }

    .form-group{
        padding-top: 10px !important;
    }
    
}

@media screen and (max-width: 375px){

    .form-container{
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }
    .centered2{
        width: 90%;
        height: 84vh !important;
    }

    .desktop{
        display: none;
    }

    .form-control2{
        height: 30px;
    }
    
    .label1{
        font-size: 10px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 32px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .register-user{
        font-size: 2.50em !important;
    }
    
    .mimi {
        font-size: 2.50em !important;
    }

    .form-group{
        padding-top: 10px !important;
    }
    
}

@media screen and (max-width: 411px){
    .centered2{
        width: 90%;
        height: 80vh;
    }

    .desktop{
        display: none;
    }

    .form-control2{
        height: 30px;
    }
    
    .label1{
        font-size: 10px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 32px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .register-user{
        font-size: 2.50em !important;
    }
    
    .mimi {
        font-size: 2.50em !important;
    }

    .form-group{
        padding-top: 10px !important;
    }
    
}

@media screen and (max-width: 360px){
    .centered2{
        width: 90%;
        height: 90% !important;
    }

    .desktop{
        display: none;
    }

    .form-control2{
        height: 30px;
    }
    
    .label1{
        font-size: 10px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 32px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .register-user{
        font-size: 1.50em !important;
    }
    
    .mimi {
        font-size: 1.50em !important;
    }

    .form-group{
        padding-top: 10px !important;
    }
    
}

@media screen and (max-width: 320px){
    .centered2{
        width: 90%;
        height: 100% !important;
    }

    .desktop{
        display: none;
    }

    .form-control2{
        height: 30px;
    }
    
    .label1{
        font-size: 10px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 32px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .register-user{
        font-size: 1.50em !important;
    }
    
    .mimi {
        font-size: 1.50em !important;
    }

    .form-group{
        padding-top: 10px !important;
    }
    
}


@media screen and (max-width: 320px){
    .centered1{
        width: 90%;
        height: 76vh !important;
    }

    .login-user{
        font-size: 3em;
    }
    
    .desktop{
        display: none;
    }

    .iphone5{
        display: block;
        display: initial
    }

    .form-control1{
        height: 30px;
    }
    
    .label{
        font-size: 20px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 32px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .fa {
        font-size: 3em;
    }

    .form-group{
        padding-top: 10px !important;
    }
    
}

@media screen and (max-width: 375px){
    .centered1{
        width: 90%;
        height: 60vh;
    }

    .login-user{
        font-size: 2.5em;
    }
    
    .desktop{
        display: none;
    }

    .iphone5{
        display: block;
        display: initial
    }

    .form-control1{
        height: 30px;
    }
    
    .label{
        font-size: 20px !important;
    }

    .app-button{
        width: auto;
        height: auto;
        font-size: 26px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    
    .fa {
        font-size: 2.5em;
    }

    .form-group{
        padding-top: 5px !important;
    }
    
}


