.centered1{
   
    position: fixed; 
    inset: 0; 
    border: 4px solid grey;
    background: #343434;
    overflow: auto; 
    border-radius: 20px; 
    outline: none; 
    padding: 40px;
    max-width: 25%;
    box-sizing: border-box;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
}
.centered2{
   
    position: fixed; 
    inset: 0; 
    border: 4px solid grey;
    background: #343434;
    overflow: auto; 
    border-radius: 20px; 
    outline: none; 
    padding: 50px;
    max-width: 30%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;

}

.register{
    color: #F7EB9F;
}

.btnx{

    float:right;
    display:block;
    margin-right:0px;
    clear:left;
}

/* @media screen and (max-width: 960px){
    .centered1{
        max-width: 100%;
    }
    
}
@media screen and (max-width: 960px){
    .centered2{
        max-width: 100%;
    }
    
} */
