.sidebar {
  border: 1px solid #787878;
  text-align: left;
  background-color: #343434c2;
}

.h5 {
  font-weight: normal!important;
  font-size: 10pt!important;
}

.border-gray {
  border: 1px solid #787878;
}