.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 10pt;
  color: white;
}

.react-tabs__tab--selected {
  background: #4b4b4b;
  border-color: #787878;
  color: #dbb963;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
.tab-col-md-8{
  background: #3434;

}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.matchups{
  /*padding-bottom: 10px;*/
  /*padding-top: 10px;*/
  background: #343434bf !important;
}

.glassbg{
  background: rgba(56, 59, 58, 0.5);
border: 0.5px solid #929292;
backdrop-filter: blur(20px);
}

.percountry{
  padding-bottom: 10px;
  padding-top:10px;
  margin-bottom: auto;
}
.flag-icon-background{
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.main-tabs .react-tabs__tab {
  font-size: 12pt;
  padding: 10px;
}