.full-width {
	min-width: 100vw;
	background: black;
}

.full-height {
	min-height: 100vh;
	padding-bottom: 10px;
}

.height-100 {
	height: 100%!important;
}

.height-65 {
	height: 60vh;
}

.width-100 {
	width: 100%!important; 
}

.FOOTBALL {
	background: url("https://www.score.3webasketball.com/backgrounds/football.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.BASKETBALL {
	background: url("https://www.score.3webasketball.com/backgrounds/basketball.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.HORSERACING {
	background: url("https://www.score.3webasketball.com/backgrounds/football.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.ESPORTS {
	background: url("https://www.score.3webasketball.com/backgrounds/football.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.white-text {
	color: white !important;
}

.gold-text {
	color: #dbb963 !important;
}

.lightgold-text {
	color: #f9eeae !important;
}

.green-text {
	color: #0cb968 !important;
}

.red-text {
	color: #b31925 !important;
}

.gray-text {
	color: #757575bd !important;
}

.basketball {
	unicode-range: f434;
}

.no-margin {
	margin-bottom: 0px;
}
.margin-b5{
	margin-bottom: 5px;
}
.margin-t5{
	margin-top:5px;
}
.margin-r5 {
	margin-right: 5px;
}

.margin-l5 {
	margin-right: 5px;
}
.nopad {
   padding: 0 !important;
   margin: 0 !important;
}
.padding-r5 {
	padding-right: 5px!important;
}
.padding-l15{
	padding-left: 15px;
}
.padding-r22{
	padding-right:22px;
}
.padding-l20{
	padding-left: 20px!important;
}
.padding-l10{
	padding-left: 10px;
}
.padding-l5 {
	padding-left: 5px!important;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.xxsm{
	font-size: 9pt;
}

.small {
	font-size: 10pt;
}

.x-medium {
	font-size: 11pt;
}

.medium {
	font-size: 12pt;
}

.xx-large {
	font-size: 16pt;
}

.x-large {
	font-size: 20pt;
}

.large {
	font-size: 24pt;
}

.strong {
	font-weight: bold;
}

.no-border {
	border: none!important;
}

.wrapper{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 16ch;
}

.match-main-container {
	background: #343434bf !important;
    padding: 10px;
}


@media screen and (max-width:768px){

	.mobile{
		display: none;
	}
	
	.rotate{
		 transform: rotate(90deg);
	}
	.letter-d{
   
    text-align:right;
    line-height: 20px;
    border-radius: 50%;
    color:  white;
	}

.boxxx{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background-color: rgba(75, 75, 75, 0.38);;
	}

	.space {
		margin-top: 90px;
	}

}

	

@media screen and (min-width:769px){
		.mobileview{
			display:none;
	}
}
@media screen and (min-width:769px){
	.mobileviews{
		display:none;
		background-color: #343434;
    }
}

@media screen and (max-width:562px){
	.space {
		padding-bottom: 90px;
	}
}

.video-player-mobile {
	margin-top: -125px!important;
    height: 40vh!important;
}

.main-logo {
	width: 100px;
}

.realtime-clock{
	float: right;
	color: white;
}

li {
	color: black;
}

.mobileTime{
	color: white;
}