.contents{
    margin-left: 5px;
    position: inline-block;
    color: whitesmoke;
    text-align: justify;
    overflow-y: auto;
    word-wrap: break-word;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:10px;

}

.headTOS{
    
    position: inline-block;
    color: #DBB963 !important;
    text-align: justify;
    overflow-y: auto;
    word-wrap: break-word;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:10px;
    font-weight: bold;
}


.contentsEnd{
    margin-left: 5px;
    position: inline-block;
    color: whitesmoke;
    text-align: justify;
    overflow-y: auto;
    word-wrap: break-word;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:10px;
    padding-bottom: 50px;

}