body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343434;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbg{
  position: absolute;
  width: 100%;
  height: 79px;
  left: 0px;
  top: 0px;

  background: #F7EB9F;
}
.navbg2{
  position: absolute;
  width: 100%;
  height: 49px;
  left: 0px;
  top: 0px;
  color: white;

  background: #343434;
}
.navbg3{
 position: absolute;
width: 52.41px;
height: 70.51px;
left: 141px;
top: 57px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;

text-shadow: 0px 1px 3px #000000;
}
.navbg4{
  position: absolute;
  width: 60.41px;
  height: 16.51px;
  right: 1600px;
  top: 57px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
  /* identical to box height */


  color: #FFFFFF;

  text-shadow: 0px 1px 3px #000000;
  
}
.sidebar {
  border: 1px solid #787878;
  text-align: left;
  background-color: #4b4b4b;
}

.h5 {
  font-weight: normal!important;
  font-size: 10pt!important;
}

.border-gray {
  border: 1px solid #787878;
}
